.App {
  text-align: center;
}

.App-header {
  background-color: rgba(233, 233, 233, 0.9);
  height: 35px;
  font-size: 16px;
  color: #606060;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.item-1 {
  margin-left: 46px;
  height: 100%;
}

.item-1 img {
  max-width: 100%;
  max-height: 100%;
}

.item-2 {
  margin-right: 46px;
}

.title-container {
  width: 50%;
  margin: 0px auto;
}

.title {
  margin: 200px 0px 0px 0px;
  font-weight: 500;
  font-size: 96px;
  letter-spacing: 7.1px;
  text-align: center;
  color: #585858;
  text-shadow: 3px -2px 3px rgba(0,0,0,0.5);
}
.bars-container {
  display: flex;
  flex-flow: row nowrap;
}

.react-autosuggest__input {
  height: 60px;
  font-size: 40px;
  border-radius: 7px;
  border: solid 1px #979797;
  outline:0px !important;
  -webkit-appearance:none;
  padding-left: 32px;
  font-family: "Varela Round", sans-serif;
}

.react-autosuggest__suggestions-container {
}

.react-autosuggest__suggestion {
  list-style-type: none;
}

.season-search {
  width: 100px;
  margin-left: 14px;
}

.info-bar {
  background-color: #6d6d6d;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 25px 0px 15px;
}
