.App {
  text-align: center;
}

.App-header {
  background-color: rgba(233, 233, 233, 0.9);
  height: 88px;
  font-size: 36px;
  color: #606060;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.item-1 {
  margin-left: 46px;
}

.item-2 { 
  margin-right: 46px;
}

.App-intro {
  font-size: large;
}

.title-container {
  width: 50%;
  margin: 0px auto;
}

.title {
  margin: 250px 0px 0px 0px;
  font-weight: 500;
  font-size: 119px;
  letter-spacing: 7.1px;
  text-align: left;
  color: #585858;
  text-shadow: 3px -2px 3px rgba(0,0,0,0.5);
}
.bars-container {
  display: flex;
  flex-flow: row nowrap;
}

.search-bar {
  height: 80px;
  font-size: 50px;
  border-radius: 7px;
  border: solid 1px #979797;
  outline:0px !important;
  -webkit-appearance:none;
  padding-left: 32px;
  font-family: "Varela Round", sans-serif;
}

.text-search {
  width: 100%;
}

.season-search {
  width: 100px;
  margin-left: 14px;
}

