.App {
  text-align: center;
}

.App-header {
  background-color: rgba(233, 233, 233, 0.9);
  height: 65px;
  font-size: 32px;
  color: #606060;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.item-1 {
  margin-left: 46px;
}

.item-2 { 
  margin-right: 46px;
}

.title-container {
  width: 50%;
  margin: 0px auto;
}

.title {
  margin: 200px 0px 0px 0px;
  font-weight: 500;
  font-size: 96px;
  letter-spacing: 7.1px;
  text-align: left;
  color: #585858;
  text-shadow: 3px -2px 3px rgba(0,0,0,0.5);
}
.bars-container {
  display: flex;
  flex-flow: row nowrap;
}

.text-search {
  width: 100%;
}

.season-search {
  width: 100px;
  margin-left: 14px;
}

.info-bar {
  background-color: #6d6d6d;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 25px 0px 15px;
}

