.search-bar {
  height: 35px;
  font-size: 18px;
  border-radius: 7px;
  border: solid 1px #979797;
  outline:0px !important;
  -webkit-appearance:none;
  padding-left: 32px;
  font-family: "Varela Round", sans-serif;
}

